<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    {{ colorpicker.loader() }}
    {{ colorpicker.picker(ids=['.inp', '.inpa']) }}
</head>

<body>
    <form>
        <table>
            <tr>
                <td>
                    <input class='inp' value='rgba(0,0,0,1)' />
                </td>
                <td>
                    <input class='inpa' value='rgba(0,255,0,1)' />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>