{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="contact">
    <h1>My Contact Page</h1>
    <div class="hdrmessage">
        This app was designed and created by Education and Software Services, LLC. It can be used as a
        learning tool for those who wish to implement applications using Flask and Javascript. ESS can be
        contacted using the form provided.
    </div>
    <div>
        <form action="mailto:cleartechforum@gmail.com" method="GET">
            <div>
                <label for="name"><strong>Name:</strong>
                    <input type="text" name="name" id="name" />
                </label>
            </div>
            <div>
                <label for="emai"><strong>Email:</strong>
                    <input type="text" name="email" id="email" />
                </label>
            </div>
            <div>
                <label for="subject"><strong>Subject:</strong>
                    <input type="text" name="subject" id="subject" />
                </label>
            </div>
            <div>
                <label for="comments"><strong>Comments:</strong></label>
                <br>
                <textarea name="comments" cols="30" rows="10" placeholder="Please type your comments."></textarea>
            </div>
            <div>
                <input type="submit" name="submit" value="Send" />
                <input type="reset" name="reset" value="Clear Form" />
            </div>
        </form>
    </div>
</div>
{% endblock %}